     
   <div id="exportable">
       <table class="table table-condensed table-striped">
         <caption>
           <p class="lead">
             {{program.faculty}} <br> 
             <span ng-switch="program.json.LEVELID">
               <span ng-switch-when="33">
                ระดับปริญญาเอก<br> 
               </span>
               <span ng-switch-when="23">
                ระดับปริญญาโทแผน ก<br> 
               </span>
               <span ng-switch-when="24">
                ระดับปริญญาโทแผน ก<br> 
               </span>
               <span ng-switch-when="25">
                ระดับปริญญาโทแผน ก<br> 
               </span>
               <span ng-switch-when="26">
                ระดับปริญญาโทแผน ข<br> 
               </span>
             </span>
               <!-- code to render a large video block-->
             </span>
             หลักสูตร/สาขาวิชา 
             {{program.json.PROGRAMNAME}}</p>
         </caption>
         <tr>
           <td colspan="8">
              <button ng-click="exportData()"> Export Data </button>
           <td>
         </tr>
         <tr>
           <th>รหัสนิสิต</th>
           <th>ชื่อ-นามสกุลนิสิต</th>
           <th>ชื่อ-นามสกุลอาจารย์</th>
           <th>วันที่แต่งตั้ง</th>
           <th>วันที่สอบโครงร่าง</th>
           <th>วันที่สอบจบ</th>
           <th>วันที่ตีพิมพ์</th>
           <th>วันที่ส่งเล่มสมบูรณ์</th>
           <th ng-hide="level.master">QE</th>
           <th>English</th>
           <th>ปีที่เข้า</th>
         </tr>
 
         <tr ng-repeat="student in program.student_active_list">
           <td>{{student.json.STUDENTCODE}}</td>
           <td>{{student.json.PREFIXNAME}}{{student.json.STUDENTNAME}} {{student.json.STUDENTSURNAME}}</td>
           <td>{{student.assign.advisor_name}}<!--{{student.assign.advisor.display_name()}}--></td>
           <td>
             <!--<i class="icon-ok" ng-show="student.assign.json"></i>-->
             {{student.assign.json.assign_date|date:"dd-MM-yyyy"}}
           </td>
           <td>
             <!--<i class="icon-ok" ng-show="student.permit.json"></i>-->
             {{student.permit.json.permit_date|date:"dd-MM-yyyy"}}
           </td>
           <td>
            <!-- <i class="icon-ok" ng-show="student.exam.json"></i>-->
             {{student.exam.json.exam_date|date:"d-MM-yyyy"}}
           </td>
           <td>{{student.publication.json.publication_date|date:"d-MM-yyyy"}}</td>
           <td>
             <!--<i class="icon-ok" ng-show="student.thesiscomplete.json"></i>-->
             {{student.thesiscomplete.json.thesiscomplete_date|date:"d-MM-yyyy"}}
           </td>
           <td>
               {{student.qeExam_p}}
                 <!--<i class="icon-ok" ng-show="student.qeExam"></i>-->
           </td>
           <td>
             {{student.engresult_p}}
             <!--<i class="icon-ok" ng-show="student.engresult"></i>-->
           </td>
           <td>
            {{student.json.ADMITACADYEAR}} 
           </td>
         </tr>
       </table>
     </div>
