<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span12 well">
        <div class="row-fluid">
          <div class="span2">
           <span class="pull-right"> ชื่อ-สกุล</span>
          </div>
          <div class="span10">
            {{staff.json.FNAME}}  {{staff.json.LNAME}}
            ({{staff.json.STAFFID}})
          </div>
        </div>
        <div class="row-fluid">
          <div class="span2">
           <span class="pull-right"> ภาควิชา</span>
          </div>
          <div class="span10">
            {{staff.json.WORK}}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span2">
          <span class="pull-right"> คณะที่สังกัด</span> 
          </div>
          <div class="span10">
            {{staff.json.FAC}}
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <legend>ประวัติการศึกษา</legend>
        <ul>
          <li ng-repeat="edu in staff.education_list"> 
            {{edu.json.BYTEDES}}-({{edu.json.DEGREENAMEABB}})
            {{edu.json.DEGREENAME}},{{edu.json.UNIVERSITYNAME}}
            {{edu.json.COUNTRYNAME}} 
          </li>
        </ul>
      </div>    
    </div>
   <div class="row-fluid">
     <div class="span12">
       <legend>นิสิตในความรับผิดชอบ</legend>
       <table class="table table-striped">
         <tr>
           <th>Name</th>
           <th></th>
           <th>P</th>
           <th>Q</th>
           <th>O</th>
           <th>T</th>
           <th>E</th>
         </tr>
         <tr ng-repeat="student in staff.active_assign_list">
           <td>
             <a href="#/student/{{student.json.STUDENTCODE}}">
              {{student.json.STUDENTCODE}}
             </a>
            {{student.json.PREFIXNAME}} {{student.json.STUDENTNAME}} 
            {{student.json.STUDENTSURNAME}}
           </td>
           <td>{{student.json.LEVELID}}</td>
           <td><i class='icon-ok' ng-show="student.grad_status.permit.json"></i></td>
           <td><i class='icon-ok' ng-show="student.grad_status.qe==true"></i></td>
           <td><i class='icon-ok' ng-show="student.grad_status.exam.json"></i></td>
           <td><i class='icon-ok' ng-show="student.grad_status.thesiscomplete.json"></i></td>
           <td><i class='icon-ok' ng-show="student.grad_status.english==true"></i></td>
         </tr>
       </table>
     </div>
   </div>
   <div class="row-fluid">
     <div class="span12">
       <legend>ประวัติการคุมนิสิต</legend>
       <ol>
     <!--  {{finish_intime}}/{{staff.finish_assign_list.length}}
       {{finish_intime*100/staff.finish_assign_list.length|number:2}}%
      -->
         <li ng-repeat="student in staff.finish_assign_list">
<!--{{student}}
-->
          <a href="#/student/{{student.json.STUDENTCODE}}">
            {{student.json.STUDENTCODE}}
          </a>
          {{student.json.PREFIXNAME}}
          {{student.json.STUDENTNAME}}
          {{student.json.STUDENTSURNAME}}
          {{student.json.LEVELID}}
         </li>
       </ol>
     </div>
   </div>
  </div> 
</div>
<!--{{staff}} {{staff.name()}}
-->
