<div class="row-fluid">
 <div class="span6">
  รายชื่อคณาจารย์ประจำบัณฑิต สังกัด{{faculty.json.FACULTYNAME}} 
  <ul>
   <li ng-repeat="(key,value) in unit_list">
    <a href = "" ng-click = "select_unit(value)">{{key}}</a>
    <ol>
     <li ng-repeat="staff in value.staff">
       {{staff.json.first_name}}  {{staff.json.last_name}}
       : {{staff.json.nu_staff}}
     </li>
    </ol>
   </li>
  </ul>
 </div>
 <div class="span6">
  {{selected_unit.name}}
  <table class="table">
   <tr>
    <th>Name</th>
    <th>#Current Student</th>
    <th>#Late Student</th>
   </tr>
   <tr ng-repeat="staff in selected_unit.staff">
    <td><a href="#/gradstaff/{{staff.json.id}}">
        {{staff.json.first_name}} {{staff.json.last_name}}
    </a></td>
    <td>{{staff.student_active_list.length}}</td>
    <td><span class="badge badge-important">{{staff.student_late}}<span></td>
   </tr>
  </table>
 </div>
</div>


